<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_web02_fileupload:war exploded">
    <output-path>$PROJECT_DIR$/springmvc_web02_fileupload/target/springmvc_web02_fileupload</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springmvc_web02_fileupload</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_web02_fileupload" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.5" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.19" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.12.1" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.12.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.29" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.47" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aspects:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: javax.annotation:javax.annotation-api:1.3.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Maven: org.glassfish.web:jstl-impl:1.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.10.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.10.3" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springmvc_web02_fileupload/target/springmvc_web02_fileupload/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc_web02_fileupload/web/Web" />
    </root>
  </artifact>
</component>